@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h2>Today:</h2>
        <h4>Executive:</h4>
        <hr />
        @foreach (var package in Model.TodaysPresidentialDocs)
        {
            <h4>@package.dateIssued.ToString("ddd, MMM dd")</h4>
            <p><a asp-page="Executive/Details" asp-route-id="@package.packageId">@package.title</a></p>
        }
        <h4>Legislative:</h4>
        <hr />
        @foreach (var package in Model.TodaysBills)
        {
            <p><a href="@package.packageLink" target="_blank">@package.title</a></p>
        }
        <h4>Judicial:</h4>
        <hr />
        @foreach (var package in Model.TodaysCourtOpinions)
        {
            <p><a href="@package.packageLink" target="_blank">@package.title</a></p>
        }
    </div>
    <div>
        <h2>This Week:</h2>
        <h4>Executive:</h4>
        <hr />
        <div class="row">
            @foreach (var package in Model.ThisWeeksPresidentialDocs)
            {
                <div class="col-md-4">
                    <p>@package.dateIssued.ToString("ddd, MMM dd")</p>
                    <p><a asp-page="Executive/Details" asp-route-id="@package.packageId">@package.title</a></p>
                </div>
            }
        </div>
        <h4>Legislative:</h4>
        <hr />
        <div class="row">
            @foreach (var package in Model.ThisWeeksBills)
            {
                <div class="col-md-4">
                    <p>
                        @package.dateIssued.ToString("ddd, MMM dd") -
                        @if (String.Equals(package.docClass, "s", StringComparison.OrdinalIgnoreCase)
                           || String.Equals(package.docClass, "sres", StringComparison.OrdinalIgnoreCase))
                        {
                            <span style="color: darkblue">Senate</span>
                        }
                        else
                        {
                            <span style="color: crimson">House</span>
                        }
                    </p>
                    <p><a asp-page="Legislative/Details" asp-route-id="@package.packageId">@package.title</a></p>
                </div>
            }
        </div>
        <h4>Judicial:</h4>
        <hr />
        <div class="row">
            @foreach (var package in Model.ThisWeeksCourtOpinions)
            {
                <div class="col-md-4">
                    <p>@package.dateIssued.ToString("ddd, MMM dd")</p>
                    <p><a asp-page="Judicial/Details" asp-route-id="@package.packageId">@package.title</a></p>
                </div>
            }
        </div>
    </div>
</div>
