@page
@model CitationPlease.Judicial.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Summary.title</h2>
<b>@Model.Summary.governmentAuthor1</b>
<br />
<b>Case #: @Model.Summary.caseNumber</b>
<br />
<b>Circuit: @Model.Summary.courtCircuit</b>

<h4>Plaintiffs:</h4>
@foreach (var plaintiff in Model.Summary.parties.Where(x => x.role == "Plaintiff"))
{
    if (plaintiff.firstName == plaintiff.lastName)
    {
        <p>@plaintiff.firstName</p>
    }
    else
    {
        <p>@plaintiff.lastName, @plaintiff.firstName</p>
    }
}
<h4>Defendants:</h4>
@foreach (var plaintiff in Model.Summary.parties.Where(x => x.role == "Defendant"))
{
    if (plaintiff.firstName == plaintiff.lastName)
    {
        <p>@plaintiff.firstName</p>
    }
    else
    {
        <p>@plaintiff.lastName, @plaintiff.firstName</p>
    }
}
