@page
@model CitationPlease.Judicial.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Summary.title</h2>
<b>@Model.Summary.governmentAuthor1</b>
<br />
<b>Case #: @Model.Summary.caseNumber</b>
<br />
<b>Circuit: @Model.Summary.courtCircuit</b>
<br />
<b>Cause: @Model.Details.Cause</b>
<br />
<p><a href="@Model.GovInfoLink" target="_blank">Read more on govinfo.gov</a></p>

<h4>Plaintiffs:</h4>
@foreach (var plaintiff in Model.Summary.parties.Where(x => x.role == "Plaintiff"))
{
    if (plaintiff.firstName == plaintiff.lastName)
    {
        <p>@plaintiff.firstName</p>
    }
    else
    {
        <p>@plaintiff.lastName, @plaintiff.firstName</p>
    }
}
<h4>Defendants:</h4>
@foreach (var plaintiff in Model.Summary.parties.Where(x => x.role == "Defendant"))
{
    if (plaintiff.firstName == plaintiff.lastName)
    {
        <p>@plaintiff.firstName</p>
    }
    else
    {
        <p>@plaintiff.lastName, @plaintiff.firstName</p>
    }
}
@foreach (var relatedItem in Model.RelatedItems)
{
    <p><b>@relatedItem.DateIssued.ToString("yyyy-MM-dd")</b>: <a href="@relatedItem.URL" target="_blank">@relatedItem.SubTitle</a></p>
}
